# Git
.git
.gitignore

# Laravel
node_modules
vendor
.env
.env.backup
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
storage/logs/*

# Docker
Dockerfile
docker-compose.yml
.dockerignore

# OS & IDE
.DS_Store
.vscode
.idea